<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^(.*)\.(asp|aspx|asa|asax|dll|jsp|cgi|fcgi|pl)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/404.htm" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^phpMyAdmin/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="phpMyAdmin/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url="^404.htm$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/index/empty404" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 4" stopProcessing="true">
                    <match url="^admin/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=admin/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 5" stopProcessing="true">
                    <match url="^admin/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=admin/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 6" stopProcessing="true">
                    <match url="^config/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/404.htm" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 7" stopProcessing="true">
                    <match url="^statics/ueditor/dialogs/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="statics/ueditor/dialogs/{R:1}/{R:2}.html" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 8" stopProcessing="true">
                    <match url="^m/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/index/index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 9" stopProcessing="true">
                    <match url="^m/myform/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/myform/index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 10" stopProcessing="true">
                    <match url="^m/captcha/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/myform/captcha&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 11" stopProcessing="true">
                    <match url="^m/search/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/search/index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 12" stopProcessing="true">
                    <match url="^m/(.*)_search/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/search/index&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 13" stopProcessing="true">
                    <match url="^m/tag/([\s\S]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/tag/index&amp;title={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 14" stopProcessing="true">
                    <match url="^m/(.*)_tag/([\s\S]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/tag/index&amp;title={R:2}&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 15" stopProcessing="true">
                    <match url="^m/(.*)/(.*)_(.*)/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/show/index&amp;etitle={R:4}&amp;ctitle={R:1}/{R:3}&amp;area={R:2}&amp;cw={R:5}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 16" stopProcessing="true">
                    <match url="^m/(.*)_(.*)/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/show/index&amp;etitle={R:3}&amp;ctitle={R:2}&amp;area={R:1}&amp;cw={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 17" stopProcessing="true">
                    <match url="^m/(.*)/(.*)_(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/show/index&amp;etitle={R:4}&amp;ctitle={R:1}/{R:3}&amp;area={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 18" stopProcessing="true">
                    <match url="^m/(.*)_(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/show/index&amp;etitle={R:3}&amp;ctitle={R:2}&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 19" stopProcessing="true">
                    <match url="^m/(.*)/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/show/index&amp;etitle={R:2}&amp;ctitle={R:1}&amp;cw={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 20" stopProcessing="true">
                    <match url="^m/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/show/index&amp;etitle={R:2}&amp;ctitle={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 21" stopProcessing="true">
                    <match url="^m/(.*)/(.*)_(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/category/index&amp;ctitle={R:1}/{R:3}&amp;area={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 22" stopProcessing="true">
                    <match url="^m/(.*)_(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/category/index&amp;ctitle={R:2}&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 23" stopProcessing="true">
                    <match url="^m/(.*)/(.*)_(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/category/index&amp;ctitle={R:1}/{R:3}&amp;area={R:2}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 24" stopProcessing="true">
                    <match url="^m/(.*)_(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/category/index&amp;ctitle={R:2}&amp;area={R:1}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 25" stopProcessing="true">
                    <match url="^m/(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/category/index&amp;ctitle={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 26" stopProcessing="true">
                    <match url="^m/(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/category/index&amp;ctitle={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 27" stopProcessing="true">
                    <match url="^m/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=wap/index/index&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 28" stopProcessing="true">
                    <match url="^index(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/index/index/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 29" stopProcessing="true">
                    <match url="^myform/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/myform/index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 30" stopProcessing="true">
                    <match url="^(.*)_myform/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/myform/index&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 31" stopProcessing="true">
                    <match url="^captcha/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/myform/captcha&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 32" stopProcessing="true">
                    <match url="^(.*)_captcha/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/myform/captcha&amp;area={R:1}&amp;id={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 33" stopProcessing="true">
                    <match url="^search/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/search/index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 34" stopProcessing="true">
                    <match url="^search/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/search/index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 35" stopProcessing="true">
                    <match url="^search/key/(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/search/index&amp;key={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 36" stopProcessing="true">
                    <match url="^(.*)_search/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/search/index&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 37" stopProcessing="true">
                    <match url="^(.*)_search/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/search/index&amp;area={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 38" stopProcessing="true">
                    <match url="^(.*)_search/key/(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/search/index&amp;area={R:1}&amp;key={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 39" stopProcessing="true">
                    <match url="^(.*)_tag/([\s\S]*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/tag/index&amp;title={R:2}&amp;area={R:1}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 40" stopProcessing="true">
                    <match url="^(.*)_tag/([\s\S]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/tag/index&amp;title={R:2}&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 41" stopProcessing="true">
                    <match url="^tag/([\s\S]*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/tag/index&amp;title={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 42" stopProcessing="true">
                    <match url="^tag/([\s\S]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/tag/index&amp;title={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 43" stopProcessing="true">
                    <match url="^(.*)/(.*)_(.*)/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/show/index&amp;etitle={R:4}&amp;ctitle={R:1}/{R:3}&amp;area={R:2}&amp;cw={R:5}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 44" stopProcessing="true">
                    <match url="^(.*)_(.*)/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/show/index&amp;etitle={R:3}&amp;ctitle={R:2}&amp;area={R:1}&amp;cw={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 45" stopProcessing="true">
                    <match url="^(.*)/(.*)_(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/show/index&amp;etitle={R:4}&amp;ctitle={R:1}/{R:3}&amp;area={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 46" stopProcessing="true">
                    <match url="^(.*)_(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/show/index&amp;etitle={R:3}&amp;ctitle={R:2}&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 47" stopProcessing="true">
                    <match url="^(.*)/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/show/index&amp;etitle={R:2}&amp;ctitle={R:1}&amp;cw={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 48" stopProcessing="true">
                    <match url="^(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/show/index&amp;etitle={R:2}&amp;ctitle={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 49" stopProcessing="true">
                    <match url="^(.*)/(.*)_(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/category/index&amp;ctitle={R:1}/{R:3}&amp;area={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 50" stopProcessing="true">
                    <match url="^(.*)_(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/category/index&amp;ctitle={R:2}&amp;area={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 51" stopProcessing="true">
                    <match url="^(.*)/(.*)_(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/category/index&amp;ctitle={R:1}/{R:3}&amp;area={R:2}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 52" stopProcessing="true">
                    <match url="^(.*)_(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/category/index&amp;ctitle={R:2}&amp;area={R:1}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 53" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/category/index&amp;ctitle={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 54" stopProcessing="true">
                    <match url="^(.*)/page/(\d*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/category/index&amp;ctitle={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 55" stopProcessing="true">
                    <match url="^index.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/index/index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 56" stopProcessing="true">
                    <match url="^(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?s=index/index/index&amp;area={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
		<!--end-php-->
        
    </system.webServer>
</configuration>
