{include file="public/header" /}
</head>
<body>
	<div id="main-container">
		{include file="public/menu" /}
		<div class="main">
			<div class="notice">{$position.url}</div>
			<div class="main_content">
				<div class="title">
					<span>{$position.name}</span>
				</div>
				<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">
					<div class="layui-tab">
					  	<ul class="layui-tab-title">
					  		{notempty name="infolist"}
		                    {volist name="infolist" id="v" key="k"}
							<li {if $k eq 1} class="layui-this"{/if}>{$v.title}</li>
							{/volist}
		                    {/notempty}
					  	</ul>
					  	<div class="layui-tab-content">
					  		{notempty name="infolist"}
		                    {volist name="infolist" id="v" key="k"}
							<div class="layui-tab-item {if $k eq 1}layui-show{/if}">
						    	{$v.blockstr.html}
						    </div>
							{/volist}
		                    {/notempty}
						</div>
					</div>
					<div class="layui-form-item">
	                    <label class="layui-form-label"></label>
	                    <div class="layui-input-inline">
			              <button class="btn" lay-submit="" lay-filter="save" data-href='{:url('saveblock')}'>提交</button>
	                    </div>
			        </div>
				
				</form>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var option= {toolbars: [[
        'fullscreen', 'source', '|',
        'bold', 'italic', 'underline', 'strikethrough', 'forecolor', 'backcolor',
        'paragraph', 'fontfamily', 'fontsize', '|',
        'indent', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
        'link', 'unlink',
    ]],initialFrameHeight:100};
    window.UEDITOR_HOME_URL = '__UEDITOR__/';
    window.onload = function() {
        window.UEDITOR_CONFIG.initialFrameWidth=700;
        window.UEDITOR_CONFIG.initialFrameHeight=450;
        {notempty name="infolist"}
		{volist name="infolist" id="v" key="k"}
		{$v.blockstr.ueditor}
		{/volist}
		{/notempty}
    }
</script>
<textarea id="copy" style="display:none;"></textarea>
<script type="text/javascript" src="__UEDITOR__/ueditor.config.js?time=20211202"></script>
<script type="text/javascript" src="__UEDITOR__/ueditor.all.min.js"></script>
<script type="text/javascript" src="__ADM_PUBLIC__/js/formSelects-v4.js"></script>
<script>
function updateimg(node,name){
	var num = $('.'+node);
	var valstr = "";
	for(i=0;i<num.length;i++)
	{
		valstr = valstr+num.eq(i).val()+"***";
	}
	$("#"+name).val(valstr);
}
layui.use(['form','common','upload','icheck','laydate','laytpl'], function(){
        var $ = layui.jquery;
        $form = $('form');
        var form = layui.form(),layer = layui.layer, common=layui.common, laydate = layui.laydate, laytpl =layui.laytpl;

        $('.BrowerPicture').click(function(){
        	var path = $(this).attr('rel');
        	layer.open({
			    type: 2,
			    title: '选择站内图片',
			    shadeClose: true,
			    shade: false,
			    anim: 2,
			    area: ['750px', '350px'],
			    content: ['{:url('upload/browsefile', array('stype' => 'picture'))}&docname='+path]
			});
		});
        {notempty name="infolist"}
		{volist name="infolist" id="v" key="k"}
		{$v.blockstr.script}
		{/volist}
		{/notempty}

        //上传图片
        layui.upload({
            url: "{:url('Upload/upload',['file'=>'file'])}" //上传接口
            ,before: function(input){
                //console.log('图片上传中');
            }
            ,title:'上传图片'
            ,elem: '#upload-image' //指定原始元素，默认直接查找class="layui-upload-file"
            ,method: 'post' //上传接口的http类型
            ,ext: '{:str_replace(',','|',config('sys.upload_image_ext'))}'
            ,type:'images'
            ,success: function(data){ //上传成功后的回调
                if(data.status == 1){
                    $("#path1").val(data.image_name);
                    $("#img_path1").attr('src', data.image_name).show();
                }else{
                    alert(data.error_info);
                }
            }
        });

        //监听提交
        form.on('submit(save)', function(data){
            var sub = true;
            var url = $(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (info) {
                            if (info.code == 1) {
                                common.layerAlertSHref(info.msg, '提示', "{:url('block/blocklist')}");
                            }else {
                                common.layerAlertE(info.msg, '提示');
                                $(data.elem).removeAttr("disabled").text("提交");
                            }
                        },
                        beforeSend: function () {
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }
            return false;
        });

    $(document).on('click','.doshowrel', function () {
    	var code = $(this).attr("rel");
    	copyText(code);
        alert("已复制到粘贴板");
    });
    function copyText(str) {
        $('#copy').text(str).show();
        var ele = document.getElementById("copy");
        ele.select();
        document.execCommand('copy', false, null);
        $('#copy').hide();
 	}
});
</script>
</body>
</html>