{include file="public/header" /}
</head>
<body>
	<div id="main-container">
		{include file="public/menu" /}
		<div class="main">
			<div class="notice">{$position.url}</div>
			<div class="main_content">
				{if $keydata}
					<div class="title">
						<span>{$position.name}</span>
					</div>
					<div class="table" v-el:table>
					<table>
						<thead>
							<tr>
								<th width="80"><span>序号</span></th>
								<th><span>关键词</span></th>
								<th class="sort" width="100"><span>百度指数</span></th>
								<th width="100"><span>搜索引擎</span></th>
								<th class="sort" width="100"><span>初排</span></th>
								<th class="sort" width="100"><span>新排</span></th>
								<th width="100"><span>变化</span></th>
								<th width="150"><span>监控时间</span></th>
								<th width="80"><span>趋势</span></th>
							</tr>
						</thead>
						<tbody>
							{foreach name="keydata" item="v" key="k"}
			                <tr>
			                    <td>{$k+1}</td>
			                    <td>{$v.keyword}</td>
			                    <td>{$v.baidu_index}</td>
			                    <td align="center">{$v.search_engines_value}</td>
			                    <td align="center">{$v.initial_rank}</td>
			                    <td align="center">{$v.current_rank}</td>
			                    <td align="center">{$v.bhstr}</td>
			                    <td align="center">{$v.monitortime}</td>
			                    <td align="center">
			                        <a class="btn btn2" href="{$v.trend_url}" target="_blank">查看</a>
			                    </td>
			                </tr>
			                {/foreach}
						</tbody>
					</table>
				</div>
				{else/}
					<style type="text/css">
					.main404{ width: 80%; margin: 150px auto; height: 400px;  }
					.mainfl{float: left; width: 50%; padding-top: 10%; line-height: 30px;color: #666;}
					.mainfr{float: right; width: 50%;}
					</style>
					<div class="main404">
						<div class="mainfl">
							<h3>您的主词监控未填写，暂时无法访问</h3>
							请前往云平台设置主词 <br>
							并在后台 扩展管理 - API管理 - 开启主词监控<br><br>
						</div>
						<div class="mainfr">
							<img src="__ADM_PUBLIC__/img/404.jpg">
						</div>
					</div>
				{/if}
			</div>
		</div>
	</div>
</body>
</html>