{include file="public/header" /}
</head>
<body>
	<div id="main-container">
		{include file="public/menu" /}
		<div class="main">
			<div class="notice">{$position.url}</div>
			<div class="main_content">
				<div class="title">
					<span>{$position.name}</span>
				</div>
				<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">

					<div class="title_bar mb20">
						百度推送API
					</div>
					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" {if config('sys.api_bdts') eq 1}checked{/if} name="api_bdts" lay-skin="switch" lay-filter="api_bdts">
			            </div>
			        </div>
					<div class="layui-form-item api_bdts {if config('sys.api_bdts') neq 1}none{/if}">
			            <label class="layui-form-label">主域名推送</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w300" type="text" name="seo_bdurl" value="{:config('sys.seo_bdurl')}" placeholder="">
			            </div>
			            {if !$isagent}<div class="layui-input-inline"><font class="font_tip">百度主动推送API_URL <a href="http://help.yunucms.com/737468" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a></font></div>{/if}
			        </div>
			        <div class="layui-form-item api_bdts {if config('sys.api_bdts') neq 1}none{/if}">
			            <label class="layui-form-label">子域名推送</label>
			            <div class="layui-input-inline">
			                <textarea class="layui-textarea w700" name="seo_bdurl_ziurl" placeholder="子域名一行一个">{:config('sys.seo_bdurl_ziurl')}</textarea>
			            </div>
			        </div>

			        <div class="title_bar mb20">
						百度熊掌号
					</div>
					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" {if config('sys.api_bdxzh') eq 1}checked{/if} name="api_bdxzh" lay-skin="switch" lay-filter="api_bdxzh">
			            </div>
			            {if !$isagent}<div class="layui-input-inline"><font class="font_tip"><a href="http://www.yunucms.com/article/show/id/86.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a></font></div>{/if}
			        </div>
			        <div class="layui-form-item api_bdxzh {if config('sys.api_bdxzh') neq 1}none{/if}">
			            <label class="layui-form-label">推送URL类型</label>
			            <div class="layui-input-inline" style="width:450px;">
	                        <input type="radio" name="seo_bdxzhtype" value="pc" title="响应式" {if config('sys.seo_bdxzhtype') eq 'pc'}checked{/if}>
	                        <input type="radio" name="seo_bdxzhtype" value="wap" title="手机" {if config('sys.seo_bdxzhtype') eq 'wap'}checked{/if}>
	                    </div>
			        </div>
					<div class="layui-form-item api_bdxzh {if config('sys.api_bdxzh') neq 1}none{/if}">
			            <label class="layui-form-label">主动推送API</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w300" type="text" name="seo_bdxzhurl" value="{:config('sys.seo_bdxzhurl')}" placeholder="">
			            </div>
			            <div class="layui-input-inline"><font class="font_tip">熊掌号主动推送API_URL </font></div>
			        </div>

					<div class="title_bar mb20">
						百度统计查询
					</div>
					<div class="layui-form-item ">
			            <label class="layui-form-label">URL</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="bdcx_url" value="{:config('sys.bdcx_url')}" placeholder="">
			            </div>
			            {if !$isagent}<div class="layui-input-inline"><font class="font_tip"><a href="http://www.yunucms.com/Article/show/id/94.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a></font></div>{/if}
			        </div>

					<div class="title_bar mb20">
						百度切词接口
					</div>

					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" {if config('sys.api_bdqc') eq 1}checked{/if} name="api_bdqc" id="api_bdqc" lay-skin="switch" lay-filter="api_bdqc">
			            </div>
			            {if !$isagent}<div class="layui-input-inline"><font class="font_tip"><a href="http://www.yunucms.com/Article/show/id/76.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a></font></div>{/if}
			        </div>
			        <div class="layui-form-item api_bdqc {if config('sys.api_bdqc') neq 1}none{/if}">
			            <label class="layui-form-label">百度APPID</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w450" type="text" name="bdqc_appid" value="{:config('sys.bdqc_appid')}">
			            </div>
			        </div>
			        <div class="layui-form-item api_bdqc {if config('sys.api_bdqc') neq 1}none{/if}">
			            <label class="layui-form-label">API Key</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w450" type="text" name="bdqc_apikey" value="{:config('sys.bdqc_apikey')}">
			            </div>
			        </div>

			        <div class="layui-form-item api_bdqc {if config('sys.api_bdqc') neq 1}none{/if}">
			            <label class="layui-form-label">SECRET Key</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w450" type="text" name="bdqc_arcretkey" value="{:config('sys.bdqc_arcretkey')}">
			            </div>
			        </div>

			        <div class="layui-form-item api_bdqc {if config('sys.api_bdqc') neq 1}none{/if}">
			            <label class="layui-form-label">切词数量</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w350" type="text" name="bdqc_qcnum" value="{:config('sys.bdqc_qcnum')}" >
			            </div>
			            <div class="layui-input-inline"><font class="font_tip">设置切词显示数量，默认 0 为随机</font></div>
			        </div>

			        <div class="title_bar mb20">
						同义词API
					</div>

					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" id="api_wyc" {if config('sys.api_wyc') eq 1}checked{/if} name="api_wyc" lay-skin="switch" lay-filter="api_wyc">
			            </div>
			            <div class="layui-input-inline"><font class="font_tip">开启同义词前需先设置好百度切词接口 {if !$isagent}<a href="http://www.yunucms.com/article/show/id/85.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a>{/if}</font></div>
			        </div>

			        <div class="layui-form-item api_wyc {if config('sys.api_wyc') neq 1}none{/if}">
			            <label class="layui-form-label">选择模式</label>
			            <div class="layui-input-inline" style="width:450px;">
	                        <input type="radio" name="wyc_type" value="1" title="精确" {if config('sys.wyc_type') eq 1}checked{/if}>
	                        <input type="radio" name="wyc_type" value="0" title="普通" {if config('sys.wyc_type') eq 0}checked{/if}>
	                        <input type="radio" name="wyc_type" value="2" title="广泛" {if config('sys.wyc_type') eq 2}checked{/if}>
	                    </div>
			        </div>

			        <div class="layui-form-item api_wyc {if config('sys.api_wyc') neq 1}none{/if}">
			            <label class="layui-form-label">替换百分比</label>
			            <div class="layui-input-inline" style="width:450px;">
	                        <input type="radio" name="wyc_percent" value="0.3" title="30%" {if config('sys.wyc_percent') eq 0.3}checked{/if}>
	                        <input type="radio" name="wyc_percent" value="0.5" title="50%" {if config('sys.wyc_percent') eq 0.5}checked{/if}>
	                        <input type="radio" name="wyc_percent" value="1" title="100%" {if config('sys.wyc_percent') eq 1}checked{/if}>
	                    </div>
			        </div>

			        <div class="layui-form-item api_wyc {if config('sys.api_wyc') neq 1}none{/if}">
			            <label class="layui-form-label">APP ID</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w450" type="text" name="wyc_appid" value="{:config('sys.wyc_appid')}">
			            </div>
			        </div>

			        <div class="layui-form-item api_wyc {if config('sys.api_wyc') neq 1}none{/if}">
			            <label class="layui-form-label">APP SECRET</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w450" type="text" name="wyc_appsecret" value="{:config('sys.wyc_appsecret')}">
			            </div>
			        </div>

			        <div class="title_bar mb20">
						信息推送API
					</div>

					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" {if config('sys.api_xxts') eq 1}checked{/if} name="api_xxts" lay-skin="switch" lay-filter="api_xxts">
			            </div>
			            {if !$isagent}<div class="layui-input-inline"><font class="font_tip"><a href="http://www.yunucms.com/article/show/id/92.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a></font></div>{/if}
			        </div>

			        <div class="title_bar mb20">
						平台排名监控获取
					</div>

					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" {if config('sys.api_pmjkhq') eq 1}checked{/if} id="api_pmjkhq" name="api_pmjkhq" lay-skin="switch" lay-filter="api_pmjkhq">
			            </div>
			            <div class="layui-input-inline w700"><font class="font_tip">开启排名监控获取前需先在平台添加排名监控查询 {if !$isagent}<a href="http://www.yunucms.com/article/show/id/91.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a>{/if}</font></div>
			        </div>

			        <div class="title_bar mb20">
						媒体联盟API
					</div>
					
					<div class="layui-form-item api_wyc ">
			            <label class="layui-form-label">apikey</label>
			            <div class="layui-input-inline">
			                <input class="layui-input w450" type="text" id="api_mediaapikey" name="api_mediaapikey" value="{:config('sys.api_mediaapikey')}">
			            </div>
			        </div>

					<div class="layui-form-item">
			            <label class="layui-form-label">是否开启</label>
			            <div class="layui-input-inline w100">
			                <input type="checkbox" {if config('sys.api_media') eq 1}checked{/if} id="api_media" name="api_media" lay-skin="switch" lay-filter="api_media">
			            </div>
			            {if !$isagent}<div class="layui-input-inline w450"><font class="font_tip"><a href="http://www.yunucms.com/Article/show/id/119.html" target="_blank" style="text-decoration:underline;">[ 使用说明 ]</a></font></div>{/if}
			        </div>

					<div class="layui-form-item">
	                    <label class="layui-form-label"></label>
	                    <div class="layui-input-inline">
			              <button class="btn" lay-submit="" lay-filter="save" data-href='{:url('interapi')}'>提交</button>
	                    </div>
			        </div>
				</form>
			</div>
		</div>
	</div>
<script>
layui.use(['form','common'], function(){
        var $ = layui.jquery;
        $form = $('form');
        var form = layui.form(),layer = layui.layer,common=layui.common;

        //监听提交
        form.on('submit(save)', function(data){
            var sub = true;
            var url = $(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (info) {
                            if (info.code == 1) {
                                common.layerAlertSHref(info.msg, '提示', "{:url('system/interapi')}");
                            }
                            else {
                                common.layerAlertE(info.msg, '提示');
                                $(data.elem).removeAttr("disabled").text("提交");
                            }
                        },
                        beforeSend: function () {
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }
            return false;
        });

        form.on('switch(api_bdts)', function(data) {
        	if (this.checked) {
        		$(".api_bdts").show();
        	}else{
        		$(".api_bdts").hide();
        	}
        });

        form.on('switch(api_bdxzh)', function(data) {
        	if (this.checked) {
        		$(".api_bdxzh").show();
        	}else{
        		$(".api_bdxzh").hide();
        	}
        });

        form.on('switch(api_bdqc)', function(data) {
        	if (this.checked) {
        		$(".api_bdqc").show();
        	}else{
        		$(".api_bdqc").hide();
        	}
        });

        form.on('switch(api_wyc)', function(data) {
        	if (this.checked) {
        		if ($(".api_bdqc").is(':hidden')) {
		        	common.layerAlertE('开启伪原创API功能，请先开启百度切词', '提示');
		        	$("#api_wyc").removeAttr('checked');
					form.render();			
		        }else{
	        		$(".api_wyc").show();
	        	}
	        }else{
	        	$(".api_wyc").hide();
	        }
        });

        form.on('switch(api_pmjkhq)', function(data) {
        	if (this.checked) {

        		$.ajax({
                    url: '{:url('checkPmjkhq')}',
                    type: 'post',
                    dataType: 'json',
                    data: {},
                    success: function (info) {
                     	info = JSON.parse(info);
                        if (info.state == 1) {

                        }else{
                        	common.layerAlertE('平台未添加主词排名监控', '提示');
                            $("#api_pmjkhq").removeAttr('checked');
							form.render();
                        }
                    }
                });			
        	}
        });

        form.on('switch(api_media)', function(data) {
        	if (this.checked) {
        		if (!$("#api_mediaapikey").val()) {
		        	common.layerAlertE('开启媒体联盟，请先填写apikey', '提示');
		        	$("#api_media").removeAttr('checked');
					form.render();
					return;		
		        }

        		$.ajax({
                    url: '{:url('checkMedia')}',
                    type: 'post',
                    dataType: 'json',
                    data: {'apikey':$("#api_mediaapikey").val()},
                    success: function (info) {
                     	info = JSON.parse(info);
                        if (info && info.state == 1) {

                        }else{
                        	common.layerAlertE('授权用户未在平台上购买媒体联盟服务', '提示');
                            $("#api_media").removeAttr('checked');
							form.render();
                        }
                    },
                });			
        	}
        });

        form.on('switch(api_xxts)', function(data) {
        	if (this.checked) {
        		$(".api_xxts").show();
        	}else{
        		$(".api_xxts").hide();
        	}
        });
});
	
</script>
</body>
</html>