<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,wap">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title><if condition="strlen($category['seo_title']) neq 0">{$category.seo_title}<else/>{$category.title}-<yunu:config name="site_title"></if></title>
    <meta name="keywords" content="<if condition="strlen($category['seo_keywords']) neq 0">{$category.seo_keywords}<else/>{$category.title}</if>">
    <meta name="description" content="<if condition="strlen($category['seo_desc']) neq 0">{$category.seo_desc|str2sub=160, true}<else/>{$category.desc|str2sub=160, true}</if>">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/yunu.css">
    <link rel="stylesheet" href="__PUBLIC__/css/swiper.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/yunu.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Superslide.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/swiper.min.js"></script>
</head>
<body>
    <include file="public:header" />

    <div class="page_banner">
        <img src="__PUBLIC__/img/pagebanner.jpg">
    </div>
    
    <div class="main container">
    	<div class="center">
            <div class="main_l fl">
                <p>
                    <yunu:type typeid='$cid' type="parent">
                        <span>{$type.title}</span>
                        <i>{$type.subtitle}</i>   
                    </yunu:type>            
                </p>
                <ul>
                    <yunu:catlist cid="$category['id']" type="parent">
                        <li <if condition="$catlist['id'] eq $cid || $catlist['id'] eq $category['pid']">class="on"</if>><a href="{$catlist.url}"><span>{$catlist.title}</span></a></li>
                    </yunu:catlist>
                </ul>
                <div class="liuyan">
                    <b>
                        <yunu:type typeid='30'>
                            <a href="{$type.url}">
                                <img src="__PUBLIC__/img/lxa1.jpg" alt="图片名">
                                <img src="__PUBLIC__/img/lxa2.jpg" alt="图片名">
                            </a>
                        </yunu:type>
                    </b>
                    <b>
                        <yunu:type typeid='73'>
                            <a href="{$type.url}">
                                <img src="__PUBLIC__/img/lya1.jpg" alt="图片名">
                                <img src="__PUBLIC__/img/lya2.jpg" alt="图片名">
                            </a>
                        </yunu:type>
                    </b>
                </div>
            </div>
            <div class="main_r fr">
                <div class="crumbs">
                    <p>
                        <yunu:position cid="$cid" delimiter="&gt;&gt;" />
                    </p>
                </div>
                <div class="page_pic clearfix">
                    <div class="my-gallery" data-pswp-uid="1">
                        <yunu:list cid="$cid" pagesize="9" orderby="sort asc">
                            <figure>
                                <div class="img-dv">
                                    <a href="{$list.pic}" data-size="600x450">
                                        <div class="imgauto"><img src="{$list.pic}"></div>
                                        <span>{$list.title}</span>
                                    </a>
                                </div>
                            </figure>
                        </yunu:list>
                    </div>
                </div>
                <div class="pages">
                    {$page}
                </div>
            </div>
    	</div>
    </div>

    <include file="public:footer" />

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" style="">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container" style="transform: translate3d(-6000px, 0px, 0px);">
                <div class="pswp__item" style="display: block; transform: translate3d(4000px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(593px, 238px, 0px) scale(0.62069);"><img class="pswp__img pswp__img--placeholder" src="/uploads/image/20190309/744b2e199ba6389c7da6e3f4a1117166.jpg" style="width: 967px; height: 725px; display: none;"><img class="pswp__img" src="/uploads/image/20190309/744b2e199ba6389c7da6e3f4a1117166.jpg" style="width: 967px; height: 725px;"></div></div>
                <div class="pswp__item" style="transform: translate3d(6000px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(605px, 397.391px, 0px) scale(0.287796);"><img class="pswp__img pswp__img--placeholder" src="/uploads/image/20190309/29e76048a9a3b3839afde35ac58537ff.jpg" style="width: 967px; height: 725px; display: none;"><img class="pswp__img" src="/uploads/image/20190309/29e76048a9a3b3839afde35ac58537ff.jpg" style="width: 967px; height: 725px;"></div></div>
                <div class="pswp__item" style="display: block; transform: translate3d(8000px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(593px, 238px, 0px) scale(0.62069);"><img class="pswp__img" src="/uploads/image/20190309/128c779d8f3773777fa40214522caa47.jpg" style="opacity: 1; width: 967px; height: 725px;"></div></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter">4 / 5</div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--fs pswp__element--disabled" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center">企业相册</div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="__PUBLIC__/css/photoswipe.css">
    <link rel="stylesheet" href="__PUBLIC__/css/default-skin.css">
    <script src="__PUBLIC__/js/photoswipe.min.js"></script>
    <script src="__PUBLIC__/js/photoswipe-ui-default.min.js"></script>
    <script type="text/javascript">
        var initPhotoSwipeFromDOM = function(gallerySelector) {
            // 解析来自DOM元素幻灯片数据（URL，标题，大小...）
            var parseThumbnailElements = function(el) {
                var thumbElements = el.childNodes,
                    numNodes = thumbElements.length,
                    items = [],
                    figureEl,
                    linkEl,
                    size,
                    item,
                    divEl;
                for(var i = 0; i < numNodes; i++) {
                    figureEl = thumbElements[i]; // <figure> element
                    // 仅包括元素节点
                    if(figureEl.nodeType !== 1) {
                        continue;
                    }
                    divEl = figureEl.children[0];
                    linkEl = divEl.children[0]; // <a> element
                    size = linkEl.getAttribute('data-size').split('x');
                    // 创建幻灯片对象
                    item = {
                        src: linkEl.getAttribute('href'),
                        w: parseInt(size[0], 10),
                        h: parseInt(size[1], 10)
                    };
                    if(figureEl.children.length > 1) {
                        item.title = figureEl.children[1].innerHTML;
                    }
                    if(linkEl.children.length > 0) {
                        // <img> 缩略图节点, 检索缩略图网址
                        item.msrc = linkEl.children[0].getAttribute('src');
                    }
                    item.el = figureEl; // 保存链接元素 for getThumbBoundsFn
                    items.push(item);
                }
                return items;
            };

            // 查找最近的父节点
            var closest = function closest(el, fn) {
                return el && ( fn(el) ? el : closest(el.parentNode, fn) );
            };

            // 当用户点击缩略图触发
            var onThumbnailsClick = function(e) {
                e = e || window.event;
                e.preventDefault ? e.preventDefault() : e.returnValue = false;
                var eTarget = e.target || e.srcElement;
                var clickedListItem = closest(eTarget, function(el) {
                    return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
                });
                if(!clickedListItem) {
                    return;
                }
                var clickedGallery = clickedListItem.parentNode,
                    childNodes = clickedListItem.parentNode.childNodes,
                    numChildNodes = childNodes.length,
                    nodeIndex = 0,
                    index;
                for (var i = 0; i < numChildNodes; i++) {
                    if(childNodes[i].nodeType !== 1) {
                        continue;
                    }
                    if(childNodes[i] === clickedListItem) {
                        index = nodeIndex;
                        break;
                    }
                    nodeIndex++;
                }
                if(index >= 0) {
                    openPhotoSwipe( index, clickedGallery );
                }
                return false;
            };

            var photoswipeParseHash = function() {
                var hash = window.location.hash.substring(1),
                    params = {};
                if(hash.length < 5) {
                    return params;
                }
                var vars = hash.split('&');
                for (var i = 0; i < vars.length; i++) {
                    if(!vars[i]) {
                        continue;
                    }
                    var pair = vars[i].split('=');
                    if(pair.length < 2) {
                        continue;
                    }
                    params[pair[0]] = pair[1];
                }
                if(params.gid) {
                    params.gid = parseInt(params.gid, 10);
                }
                return params;
            };

            var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
                var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    items;
                items = parseThumbnailElements(galleryElement);
                // 这里可以定义参数
                options = {
                    barsSize: {
                        top: 100,
                        bottom: 100
                    },
                    fullscreenEl : false,
                    shareButtons: [
                        {id:'wechat', label:'分享微信', url:'#'},
                        {id:'weibo', label:'新浪微博', url:'#'},
                        {id:'download', label:'保存图片', url:'{{raw_image_url}}', download:true}
                    ],
                    galleryUID: galleryElement.getAttribute('data-pswp-uid'),
                    getThumbBoundsFn: function(index) {
                        var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                            pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = thumbnail.getBoundingClientRect();
                        return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                    }
                };
                if(fromURL) {
                    if(options.galleryPIDs) {
                        for(var j = 0; j < items.length; j++) {
                            if(items[j].pid == index) {
                                options.index = j;
                                break;
                            }
                        }
                    } else {
                        options.index = parseInt(index, 10) - 1;
                    }
                } else {
                    options.index = parseInt(index, 10);
                }
                if( isNaN(options.index) ) {
                    return;
                }
                if(disableAnimation) {
                    options.showAnimationDuration = 0;
                }
                gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
                gallery.init();
            };

            var galleryElements = document.querySelectorAll( gallerySelector );
            for(var i = 0, l = galleryElements.length; i < l; i++) {
                galleryElements[i].setAttribute('data-pswp-uid', i+1);
                galleryElements[i].onclick = onThumbnailsClick;
            }
            var hashData = photoswipeParseHash();
            if(hashData.pid && hashData.gid) {
                openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
            }
        };

        initPhotoSwipeFromDOM('.my-gallery');
    </script>
</body>
</html>